<launch>
  <arg name="mav_name" default="firefly"/>
  <arg name="enable_logging" default="false" />
  <arg name="enable_ground_truth" default="true" />
  <arg name="log_file" default="$(arg mav_name)" />
  <arg name="laser_enabled" default="true"/>
  <arg name="ur5_enabled" default="false"/>
  <arg name="kinect_enabled" default="false"/>
  <arg name="husky_name" default="husky"/>
  
  <!-- group ns="$(arg mav_name)">
    <include file="$(find rotors_gazebo)/launch/spawn_mav.launch">
      <arg name="mav_name" value="$(arg mav_name)" />
      <arg name="model" value="$(find rotors_description)/urdf/mav_with_vi_sensor.gazebo" />   
      
      <arg name="enable_logging" value="$(arg enable_logging)" />
      <arg name="enable_ground_truth" value="$(arg enable_ground_truth)" />
      <arg name="log_file" value="$(arg log_file)"/>
      <arg name="x" value="0.0"/>
      <arg name="y" value="0.0"/>
      <arg name="z" value="0.1"/>
    </include>
    
    <node name="lee_position_controller_node" pkg="rotors_control" type="lee_position_controller_node" output="screen">
      <rosparam command="load" file="$(find rotors_gazebo)/resource/lee_controller_$(arg mav_name).yaml" />
      <rosparam command="load" file="$(find rotors_gazebo)/resource/$(arg mav_name).yaml" />
      <remap from="odometry" to="odometry_sensor1/odometry" />
    </node>

    <node name="hovering_example" pkg="rotors_gazebo" type="hovering_example" output="screen"/>
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  </group-->

  <group ns="$(arg husky_name)_1">
      <arg name="xinit"  default="0.0" />
      <arg name="yinit"  default="2.0" />
      <arg name="zinit"  default="0.3" />
      
      <include file="$(find husky_gazebo)/launch/spawn_husky.launch">
           <arg name="laser_enabled" value="$(arg laser_enabled)"/>
           <arg name="ur5_enabled" value="$(arg ur5_enabled)"/>
           <arg name="kinect_enabled" value="$(arg kinect_enabled)"/>
           <arg name="x" value="$(arg xinit)"/>
           <arg name="y" value="$(arg yinit)"/>
           <arg name="z" value="$(arg zinit)"/>
           <arg name="robot_name" value="$(arg husky_name)_1"/>
           <arg name="tf_prefix" value="$(arg husky_name)_1"/>
     </include>

     <include file="$(find husky_control)/launch/teleop.launch">
           <arg name="joy_dev" value="/dev/input/js0"/>
           <arg name="joystick" value="true"/>   
     </include>
        
     <node pkg="tf" type="static_transform_publisher" name="$(arg husky_name)_1_odom_to_world" 
           args="$(arg xinit) $(arg yinit) $(arg zinit) 0 0 0 map $(arg husky_name)_1/odom 100" output="screen" />  
  </group>
  
  
  <group ns="$(arg husky_name)_2">
      <arg name="xinit"  default="0.0" />
      <arg name="yinit"  default="-1.0" />
      <arg name="zinit"  default="0.3" />
         
      <include file="$(find husky_gazebo)/launch/spawn_husky.launch">
           <arg name="laser_enabled" value="$(arg laser_enabled)"/>
           <arg name="ur5_enabled" value="$(arg ur5_enabled)"/>
           <arg name="kinect_enabled" value="$(arg kinect_enabled)"/>
           <arg name="x" value="$(arg xinit)"/>
           <arg name="y" value="$(arg yinit)"/>
           <arg name="z" value="$(arg zinit)"/>
           <arg name="robot_name" value="$(arg husky_name)_2"/>
           <arg name="tf_prefix" value="$(arg husky_name)_2"/>           
     </include>

     <include file="$(find husky_control)/launch/teleop.launch">
           <arg name="joy_dev" value="/dev/input/js1"/>
           <arg name="joystick" value="true"/>   
     </include>

     <node pkg="tf" type="static_transform_publisher" name="$(arg husky_name)_2_odom_to_world" 
           args="$(arg xinit) $(arg yinit) $(arg zinit) 0 0 0 map $(arg husky_name)_2/odom 100" output="screen" />  
  </group>
</launch>
